[Desktop Entry]
Name=Well-being Diary
Exec=python3 /home/sunyata/PycharmProjects/well-being-diary/well-being-diary.py
Terminal=false
Type=Application
Icon=/home/sunyata/PycharmProjects/well-being-diary/icon.png
Name[en_US]=Well-being Diary
Path=/home/sunyata/PycharmProjects/well-being-diary
StartupNotify=false
Categories=Utility;Spirituality;
