<h1>[Under development] User Guide</h1>

<h2>Parts of the application</h2>

<!--
<ul>
    <li>List of practices</li>
    <li>Journal</li>
</ul>

<h3>Practices</h3>
<p>A list of practices. You can add new ones. Clicking a practice will automatically change the view</p>

<h3>Journal</h3>
<p>You can see different views</p>

<h3>Search and Tags</h3>
<p>Clicking a tag will update the search field and thereby searching for the tag. This will automatically change the view to search</p>

<h4>h4 header</h4>
<p></p>

<h4>Adding a New Practice</h4>
<p></p>

<h4>Editing a Practice</h4>

<h4>Adding a New Journal Entry</h4>

<h4>Editing a Journal Entry</h4>

<hr>

-->

